<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Marks</title>
</head>
<body>
    <form action="http://localhost:5000/result" method="POST">
        <h3>Student Information</h3>

        <table>
            <tr>
                <th>Physics</th>
                <td> <input type="number" name="phys"/><br></td>
            </tr>

            <tr>
                <th>Chemistry</th>
                <td> <input type="number" name="chem"/><br></td>
            </tr>

            <tr>
                <th>Maths</th>
                <td> <input type="number" name="math"/><br></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" /><br></td>
            </tr>

        </table>
    </form>
</body>
</html>