<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detecter</title>
</head>
<body>
    <form action="http://localhost:5000/spamfinder" method="POST">
        <center>
            <h1 style="color: rgb(33, 70, 172);">Spam Detecter</h1>
            <h3>Enter your message here:</h3>
            <input type = 'text' name="message" placeholder="Text Here" size="150"><br><br>
            <input type="submit" value="Check for Spam">
        </center>
    </form>
</body>
</html>